
*{
      margin: 0;
      padding: 0;
      box-sizing: content-box;
      font-family: Libre Bodoni;
}
header{
      font-family:Yuji Syuku;
      display: flex;
      justify-content: center;
      padding: 1.2rem;
}
.owner{
      color: lightgray;
}
a {
  text-decoration: none;
}
a:visited{
      color: lightgray;
}
ul{
 list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5F6F52;
     
}
li {
  float: left;
}
li a {
  display: block;
  padding: 8px;
  
}
li a:hover {
  background-color: #273526;
}
/*.active {
  background-color: #E4E6D9;
}*/
nav{

      border-bottom:solid 1px #5e6464;
      width:100%;
      box-shadow:  0px 4px 10px black;
      
}
nav a{
      color: white;
      text-decoration: none;

}
body{
      background-color: lightgray;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
}
.bordes {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; 
      padding: 1rem;
    }
.ilust {
      width: 40%; 
      margin: 1.3em;
      transition: 1s;
      height: auto;
     box-shadow:  10px 5px 5px darkgray;
    }


.ilust:hover{
      max-width: 100%;
      margin: 0em;
      box-shadow:  16px 8px 8px darkgray;
}

footer{
  background-color: #5F6F52;
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  color: lightgray;
  border-radius: 6px;
  box-shadow:  0px 4px 10px black;
}
/*
.email{
      align-self: safe center;

}*/
.logotipo{
     margin: 0.4rem;

}


@media only screen and (max-width: 768px) {
.ilust {
    width: 100%; 
  }
}